venv/
.venv/
eigsep_terrain.egg-info
*/.ipynb_checkpoints/
.ipynb_checkpoints/
.DS_Store
build/
notebooks/marjum_dem.npz
*marjum_dem.npz
notebooks/old_traces/
**__pycache__/
notebooks/img_seg*.npz
img_seg*.npz
trace_seed*.nc
trace_seed*_meta.json
trace*.png
*_dgnstc_plots/
sanity_*.json
test_prior*/
__pycache__/
*.py[cod]
*.pyo
map*.json
map*/
trace*/
*_dem_profiles